html,
body {
	background: #e5e5e5;
	font-family: sans-serif
}
.previousYears
{
	left:10px;
}
.nextYears
{
	right:25px;
}
.previousYears,.nextYears
{
	margin-right:5%;
	margin-left:5%;
	cursor: pointer;
	position: absolute;
}
#calendarHolder
{
    width: 236px;
	padding: 20px;
	background: #fff;
	position: absolute;
	overflow: hidden;
	float: left;
    height: 200px;
	z-index: 3000;
	box-shadow: 0px 5px 3px 0px #888888;
	border-radius: 5px;
}
.pointer
{
    cursor: pointer;
}
.year
{
    width:25%;
    display: inline-block;
    vertical-align: top;
    padding-top:6%;    padding-bottom:4%;
    cursor: pointer;
}

#calendarHolder h3 {
	text-align: center;
    margin: -20px -20px 0px;
    padding: 20px 0;
    background: #fff;
    color: #4a4949;
}

